<!DOCTYPE html>
<html lang="en">
  <% include ./partials/_headers %>
  <body>
    <main class = "container">
      <div class = "row">
        <div class="col-md-10">
          <section class = "listandMaps">
            <section id="lid_info">
              <h3> <b> <%= listInfo.title %> </b> <%= listInfo.description %> </h3>
              <label> Title: </label>
              <input type="text" name="title" class="newMapTitle">
              <label> Description: </label>
              <input type="text" name="description" class="newMapDesc">
              <a class="btn btn-primary addMap" data-lid="<%= listInfo.l_id %>"> Add Map </a>
              <input type="text" name="newContUsername">
              <a class="btn btn-primary addCont" data-lid="<%= listInfo.l_id %>"> Add Contributor </a>
            </section>
            <br>
            <section class="showMaps">
              <ul>
              <% maps.forEach(function (mlist) { %>
                <div class='divMap' data-divmid = "<%= mlist.m_id %>">
                  <li>
                    <b> <%= mlist.title  %> </b> <%= mlist.description %>
                    <a  href="/maps/<%= mlist.m_id %>" class="btn btn-primary"> Show Map </a>
                    <a class="btn btn-danger deleteMap" data-mid ="<%= mlist.m_id %>"> Delete Map </a>
                  </li>
                </div>
              <% }); %>
              </ul>
            </section>
          </section>
        </div>
        <div class="col-mid-2">
          <section id="lid_contributors">
            <h3> List of contributors </h3>
            <ul>
            <% contributors.forEach(function (contlist) { %>
              <li>
                <%= contlist.username %>
                  <a href="/profiles/<%= contlist.username %>" class="btn btn-primary"> View User </a>
              </li>
            <% }); %>
            </ul>
          </section>
        </div>
      </div>
    </main>
  </body>
</html>
