<!DOCTYPE html>
<html lang="en">
  <% include ./partials/_headers %>
  <script type="text/javascript" src="../scripts/listsShuffle.js"></script>
  <body>
    <main class = "container">
      <div class = "row">
        <div class="col-md-9">
          <section class = "listandMaps">
            <section id="lid_info">
              <h3> <b> <%= listInfo.title %> </b>
              <% if (!listInfo.public)  { %>
              (private)
              <% } %>
              </h3>
              <h4><%= listInfo.description %> </h4>
              <% if (canEdit) { %>
                <label style="margin-top: 50px;"> Title: </label>
                <input type="text" name="title" class="newMapTitle">
                <label> Description: </label>
                <input type="text" name="description" class="newMapDesc">
                <a class="btn btn-primary addMap" data-lid="<%= listInfo.l_id %>"> Add Map </a>
              <% } %>
            </section>
            <br>
            <section class="showMaps">
              <ul class="list-unstyled">
              <% maps.forEach(function (mlist) { %>
                <div class="divMap" data-divmid = "<%= mlist.m_id %>">
                  <li><div style='margin-bottom: 100px; margin-top: 100px;'>
                    <div class = 'row'>
                      <div class = 'col-md-2 col-md-offset-3'>
                        <h3><a href="/maps/<%= mlist.m_id %>"><%= mlist.title  %></a></h3>
                      </div>
                      <div class = 'col-md-2 col-md-offset-2'>
                        <% if (canEdit) { %>
                          <a class="btn btn-danger deleteMap" data-mid ="<%= mlist.m_id %>" style="margin-top:15px;"> Delete Map </a>
                        <% } %>
                        <br>
                      </div>
                    </div>
                    <div class = 'row'>
                      <div class = 'col-md-8 col-md-offset-2 frontImage' >
                        <div class="mImg-<%= mlist.m_id %>" height="100%" width="100%"></div>
                      </div>
                    </div>
                    <div class ='row'>
                      <div class = 'col-md-12'>
                        <%= mlist.description %>
                      </div>
                    </div>
                    <br>
                    <br>
                  </div></li>
                </div>
              <% }); %>
              </ul>
            </section>
          </section>
        </div>

        <div class="col-mid-3">
          <h3> List of contributors </h3>
          <ul class="list-unstyled">
            <section id="lid_contributors">
              <% contributors.forEach(function (contlist) { %>
                <div class="divCont">
                  <li style="margin-bottom: 15px;">
                    <a href="/profiles/<%= contlist.username %>"><%= contlist.username %></a>
                    <%  if (canEdit) { %>
                    <a class="btn btn-danger delCont" data-Cont="<%= contlist.username %>" data-cLid="<%= listInfo.l_id %>">Delete</a>
                    <% }  %>
                  </li>
                </div>
              <% }); %>
            </section>
            <%  if (canEdit) { %>
              <input type="text" name="username" class="username" style="margin-bottom: 10px;">
              <button class="btn btn-primary addCont" data-lid="<%= listInfo.l_id %>"> Add Contributor</button>
            <% }  %>
          </ul>
        </div>
      </div>
    </main>
  </body>
</html>
