<!DOCTYPE html>
<html lang="en">
  <% include ./partials/_headers %>
  <body>
    <main class = "container">
      <div class = "row">
        <div class="col-md-9">
          <section class = "listandMaps">
            <section id="lid_info">
              <h3> <b> <%= listInfo.title %> </b> <%= listInfo.description %> </h3>
              <% if (canEdit) { %>
                <label> Title: </label>
                <input type="text" name="title" class="newMapTitle">
                <label> Description: </label>
                <input type="text" name="description" class="newMapDesc">
                <a class="btn btn-primary addMap" data-lid="<%= listInfo.l_id %>"> Add Map </a>
              <% } %>
            </section>
            <br>
            <section class="showMaps">
              <ul class="list-unstyled">
              <% maps.forEach(function (mlist) { %>
                <div class="divMap" data-divmid = "<%= mlist.m_id %>">
                  <li>
                    <div class = 'row'>
                      <div class = 'col-md-2 col-md-offset-3'>
                        <b><a href="/maps/<%= mlist.m_id %>"><%= mlist.title  %></a></b>
                      </div>
                      <div class = 'col-md-2 col-md-offset-2'>
                        <% if (canEdit) { %>
                          <a class="btn btn-danger deleteMap" data-mid ="<%= mlist.m_id %>"> Delete Map </a>
                        <% } %>
                        <br>
                    </div>
                  </div>
                  <div class = 'row'>
                    <div class = 'col-md-12'>
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScJo371kBfS70VvFL4Oy4dXFNeIpeyatkMo6GaMw0dt_cxZefYgA" height="50%" width="50%">
                    </div>
                  </div>
                  <div class ='row'>
                    <div class = 'col-md-12'>
                      <%= mlist.description %>
                    </div>
                  </div>
                  <br>
                  <br>
                  </li>
                </div>
              <% }); %>
              </ul>
            </section>
          </section>
        </div>

        <div class="col-mid-3">
          <h3> List of contributors </h3>
          <ul class="list-unstyled">
            <section id="lid_contributors">
              <% contributors.forEach(function (contlist) { %>
                <div class="divCont">
                  <li>
                    <a href="/profiles/<%= contlist.username %>"><%= contlist.username %></a>
                    <%  if (canEdit) { %>
                    <a class="btn btn-danger delCont" data-Cont="<%= contlist.username %>" data-cLid="<%= listInfo.l_id %>">Delete</a>
                    <% }  %>
                  </li>
                </div>
              <% }); %>
            </section>
            <%  if (canEdit) { %>
              <input type="text" name="username" class="username">
              <button class="btn btn-primary addCont" data-lid="<%= listInfo.l_id %>"> Add Contributor</button>
            <% }  %>
          </ul>
        </div>
      </div>
    </main>
  </body>
</html>
