<!DOCTYPE html>
<html lang="en">
  <% include ./partials/_headers %>
  <body>
    <main class = "container">
      <div class = "row">
        <div class="col-md-9">
          <section class = "listandMaps">
            <section id="lid_info">
              <h3> <% listInfo.title %> => <% listInfo.description %> </h3>
                <div method="POST" action="/maps/new">
                  <input type="submit" value="Add Map">
                </div>
                <div method="POST" action="/maps/new">
                  <input type="text" name="username">
                  <input type="submit" value="Add Contributor">
                </div>
            </section>
            <section class="showMaps">
              <ul>
              <% maps.forEach(function (mlist) { %>
                <li>
                  <%= mlist.title  %> => <%= mlist.description %>
                  <div method="POST" action="/maps/<%= mlist.mid %>">
                    <input type="submit" value="show" class="btn btn-primary">
                  </div>
                  <div method="POST" action="/maps/<%= mlist.mid %>/delete">
                    <input type="submit" value="delete" class="btn btn-warning">
                  </div>
                </li>
              <% }); %>
              </ul>
            </section>
          </section>
        </div>
        <div class="col-mid-3">
          <section id="lid_contributors">
            <h3> List of contributors </h3>
            <ul>
            <% contributors.forEach(function (contlist) { %>
              <li>
                <%= contlist.username %>
                <div method="POST" action="/users/<%= contlist.username %>">
                  <input type="submit" value="View User" class="btn btn-primary">
                </div>
              </li>
            <% }); %>
            </ul>
          </section>
        </div>
      </div>
    </main>
  </body>
</html>
