<!DOCTYPE html>
<html lang="en">
   <% include ./partials/_headers %>
<!-- main part of the page---->
  <body>
    <main class = "container">
      <div class = "row">
        <div class="col-md-5">
          <section class = "userFavourites">
            <h2> USER FAVORITES </h2>
            <% favouriteLists.forEach(function (list) { %>
              <li>
                <%= list.title%> => <%= list.description %>
                <button>
                  Favourite
                </button>
              </li>

            <%  }); %>
          </section>
        </div>
        <div class="col-md-5">
          <section class = "userContributions">
            <h2> USER CONTRIBUTIONS </h2>
            <ul>
              <% contributedLists.forEach(function (list) { %>
                <li>
                  <%= list.title%> => <%= list.description %>
                  <div method="POST" action="/lists/<%= list.lid%>">
                    <input type="submit" value="Edit">
                  </div>
                  <div method="POST" action="/lists/<%= list.lid%>/delete">
                    <input type="submit" value="Delete">
                  </div>
                </li>
              <%  }); %>
            </ul>
          </section>
        </div>
      </div>

    </main>
  </body>
</html>
