<!DOCTYPE html>
<html lang="en">
   <% include ./partials/_headers %>
<!-- main part of the page -->
  <body>
    <main class = "container">
      <h1> Welcome to "username" Page </h1>
      <br>
      <div class = "row newContributor">
        <div class="">
          <div class="col-md-1">
            <label>Title:</label>
          </div>
          <div class="col-md-2">
            <input type="text" name="title" class="listTitle">
          </div>
          <div class ="col-md-1">
            <label>Description:</label>
          </div>
          <div class ="col-md-2">
            <input type="text" name="description" class="listDesc">
          </div>
          <div class = "col-md-4">
            <label>Privacy</label>
            <input class="public" type="radio" name="public" value="public"> Public
            <input type="radio" name="public" value="private"> Private
          </div>
          <div class = "col-md-2">
            <a class = "btn btn-primary newList" data-username=""> Create new List</a><br><br>
          </div>
        </div>
      </div>

      <div class = "row">
        <div class="col-md-6">
          <section class = "userFavourites">
            <h2> USERNAME FAVORITES </h2>
            <% favouriteLists.forEach(function (list) { %>
              <li>
                <b> <%= list.title%> </b> <%= list.description %>
                <button>
                  Favourite
                </button>
              </li>

            <%  }); %>
          </section>
        </div>
        <div class="col-md-6">
            <h2> USERNAME CONTRIBUTIONS </h2>
            <ul>
              <section class = "userContributions">
              <% contributedLists.forEach(function (list) { %>
                <li>
                  <b> <%= list.title%> </b> <%= list.description %>
                    <a class="btn btn-primary" type="submit" value="Edit List" href="/lists/<%= list.l_id %>"> Edit List </a>
                  <div method="POST" action="/lists/<%= list.l_id %>/delete" style="float:right">
                    <input type="submit" value="Delete List" class="btn btn-danger">
                  </div>
                </li>
              <%  }); %>
              </section>
            </ul>

        </div>
      </div>

    </main>
  </body>
</html>
