<!DOCTYPE html>
<html lang="en">
   <% include ./partials/_headers %>
<!-- main part of the page---->
  <body>
    <main class = "container">
      <h1> Welcome to "username" Page </h1>
      <br>
      <div class = "row">
        <div method="POST" action="/lists/new">
          <div class="col-md-1">
            <label>Title:</label>
          </div>
          <div class="col-md-2">
            <input type="text" name="title">
          </div>
          <div class ="col-md-1">
            <label>Description:</label>
          </div>
          <div class ="col-md-2">
            <input type="text" name="description">
          </div>
          <div class = "col-md-4">
            <label>Privacy</label>
            <input type="radio" name="public" value="public" checked> Public
            <input type="radio" name="public" value="private"> Private
          </div>
          <div class = "col-md-2">
            <input class = "btn btn-primary" type="submit" value="Create new list"><br><br>
          </div>
        </div>
      </div>

      <div class = "row">
        <div class="col-md-6">
          <section class = "userFavourites">
            <h2> USERNAME FAVORITES </h2>
            <% favouriteLists.forEach(function (list) { %>
              <li>
                <%= list.title%> => <%= list.description %>
                <button>
                  Favourite
                </button>
              </li>

            <%  }); %>
          </section>
        </div>
        <div class="col-md-6">
          <section class = "userContributions">
            <h2> USERNAME CONTRIBUTIONS </h2>
            <ul>
              <% contributedLists.forEach(function (list) { %>
                <li>
                  <%= list.title%> => <%= list.description %>
                  <div method="POST" action="/lists/<%= list.lid %>">
                    <input type="submit" value="Edit">
                  </div>
                  <div method="POST" action="/lists/<%= list.lid %>/delete">
                    <input type="submit" value="Delete">
                  </div>
                </li>
              <%  }); %>
            </ul>
          </section>
        </div>
      </div>

    </main>
  </body>
</html>
