<!DOCTYPE html>
<html lang="en">
  <% include ./partials/_headers %>
  <!-- main part of the page -->
  <body>
    <main class = "container">
      <h1> Welcome to <b><%= username %></b>'s Page </h1>
      <br>
      <% if (canEdit) { %>
        <div class = "row newContributor">
          <div class="col-md-1">
            <label>Title:</label>
          </div>
          <div class="col-md-2">
            <input type="text" name="title" class="listTitle">
          </div>
          <div class ="col-md-1">
            <label>Description:</label>
          </div>
          <div class ="col-md-2">
            <input type="text" name="description" class="listDesc">
          </div>
          <div class = "col-md-4">
            <label>Privacy</label>
            <input class="public" type="radio" name="public" value="public"> Public
            <input type="radio" name="public" value="private"> Private
          </div>
          <div class = "col-md-2">
            <a class = "btn btn-primary newList" data-username=""> Create new List</a><br><br>
          </div>
        </div>
      <% } %>

      <div class = "row">
        <div class="col-md-6">
          <section class = "userFavourites">
            <h2> <%= username %>'s FAVORITES </h2>
            <ul class="list-unstyled">
              <% favouriteLists.forEach(function (list) { %>
                <li>
                  <b> <a href="/lists/<%= list.l_id %>"> <%= list.title%> </a> </b> <%= list.description %>
                </li>
              <% }); %>
            </ul>
          </section>
        </div>
        <div class="col-md-6">
          <h2><%= username %>'s CONTRIBUTIONS</h2>
          <ul class="list-unstyled">
            <section class = "userContributions">
            <% contributedLists.forEach(function (list) { %>
              <li>
                <div class ="row">
                  <div class = "col-md-4">
                    <b><a type="submit" value="Edit List" href="/lists/<%= list.l_id %> "><%= list.title %></a></b>
                  </div>
                  <div class = "col-md-4">
                    <p><%= list.description %></p>
                  </div><!--<%=list.l_id%>-->
                  <% if (canEdit) { %>
                    <div class = "col-md-4">
                      <div method="POST" action="/lists/<%= list.l_id %>/delete" style="float:right">
                        <input type="submit" value="Delete List" class="btn btn-danger">
                      </div>
                    </div>
                  <% } %>
              </div>
              </li>
            <% }); %>
            </section>
          </ul>
        </div>
      </div>
    </main>
  </body>
</html>
